---
import Layout from '../../layouts/Layout.astro';
import Heading from '../../components/Heading';
import Button from '../../components/Button';
import jesseBioImage from "/public/jesse-rhodes-bio.jpeg";
---

<Layout
	title="Jesse Rhodes - Graced Studio"
	description="Jesse Rhodes is a master colorist and extension artist with a passion for creating beautiful, natural, and unique designs."
>
    <div class="container mx-auto p-6 max-w-6xl">
        <div>
            <Heading title="Jesse Rhodes" subHeading="Owner/Stylist/Educator" />
            <div class="grid sm:grid-cols-2 lg:grid-cols-[1fr_2fr] gap-8 mb-8">
                <div>
                    <img src={jesseBioImage} alt="Jesse Rhodes" />
                </div>
                <div>
                    <p class="font-light mb-4">
                        Welcome to Graced Studio! I’m Jesse Rhodes, owner, stylist, and
                        global extension educator.
                    </p>
                    <p class="font-light mb-4">
                        Above all else, though, I am a wife and a mother. My husband
                        Ryan and I met in kindergarten, and he is literally the love of
                        my life. I always joke with clients that our love story should
                        be a cheesy Hallmark movie! Together we have a daughter, Liliana
                        Grace. She is the most joyful little girl, and is my inspiration
                        for creating Graced Studio.
                    </p>
                    <p class="font-light mb-4">
                        I have been a licensed cosmetologist in Concord, NC since 2009,
                        and am passionate about helping women feel and look beautiful by
                        providing customized color and extension services in a laid
                        back, friendly, and clean environment.
                    </p>
                    <p class="font-light mb-4">
                        I specialize in natural, dimensional colors, and hair
                        extensions. I utilize both to help my guests achieve their dream
                        hair! I personally know the struggle of suffering from “toddler
                        hair syndrome”, so when I discovered hair extensions over ten
                        years ago, my life literally changed! Now it is my mission to
                        help other women realize the amazing confidence boost extensions
                        provide.
                    </p>
                    <p class="font-light mb-4">
                        When I’m not in the salon giving my guests the hair of their
                        dreams, I am teaching other stylists how to enhance their
                        service menu through the art of hair extensions. I am proud to
                        be a global educator for Laced Hair Extensions. Not only do I
                        have the opportunity to travel and teach, but I am able to meet
                        and connect with so many talented stylists!
                    </p>
                    <p class="font-light mb-4">
                        I am also a self proclaimed education junkie. I enjoy attending
                        classes to enhance my skills and knowledge both in business and
                        as a hairstylist. Bringing that knowledge back to the salon
                        keeps both my clients and myself excited to push the limits and
                        try new things!
                    </p>
                    <p class="font-light mb-4">
                        During my down time, I spend as much time with my family as
                        possible. We enjoy spending time in the mountains - you can
                        typically find us fishing in the rivers or visiting the nearby
                        waterfalls. We have three dogs and a cat, and sometimes I feel
                        like we run a small zoo! I am so grateful for the life I live,
                        and I thank God every day for gracing my life with His
                        blessings!
                    </p>
                    <p class="font-light mb-4">
                        I want to share my joy and passion with you! Click below to book
                        your appointment, or email me at jesse@graced.studio if you have
                        any questions. I can’t wait to see you soon!
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row justify-center items-center p-6 md:mb-8">
            <Button
                href="https://squareup.com/appointments/book/f5ksza0xzqnzy3/LGZK3E9BBVKB5/start"
                external
            >
                Book
            </Button>
            <Button href="/new-clients">New</Button>
            <Button href="/education">Education</Button>
        </div>
    </div>
</Layout>
