---
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/Heading";
import Button from "../../components/Button";
import liliGracedImage from "/public/lili-graced-bio.jpeg";
---

<Layout
    title="Liliana Grace - Graced Studio"
    description="Liliana Grace is the original graced babe and the inspiration for Graced Studio."
    client:load
>
    <div class="container mx-auto p-6 max-w-6xl">
        <div>
            <Heading
                title="Liliana Grace"
                subHeading="The Original Graced Babe"
            />
            <div class="grid sm:grid-cols-2 lg:grid-cols-[1fr_2fr] gap-8 mb-8">
                <div>
                    <img src={liliGracedImage} alt="placeholder" />
                </div>
                <div>
                    <p class="font-light mb-4">
                        Meet Liliana Grace. Now obviously Liliana doesn’t work
                        at Graced Studio, but she is the inspiration behind the
                        salon.
                    </p>
                    <p class="font-light mb-4">
                        Liliana, of course, is my daughter. My husband and I
                        gave her the middle name “Grace” because we truly feel
                        like God was gracing our lives with a daughter. And as
                        she grows up, His love and grace is even more evident.
                        Liliana is a beautiful, joyful ray of sunshine. She
                        brings light and love to everyone she meets.
                    </p>
                    <p class="font-light mb-4">
                        This was my vision for Graced Studio. To create an
                        environment where you can relax and enjoy your time
                        carefree, and leave feeling lighter and happier than
                        when you arrived.
                    </p>
                    <p class="font-light mb-4">
                        My promise to you, as it is to Liliana, is to show up
                        each day and bring my best. My best attitude, my best
                        focus, and my best talent. You, like my daughter,
                        deserve it!
                    </p>
                    <p class="font-light mb-2">God Bless,</p>
                    <p class="font-light">Jesse Rhodes</p>
                    <p class="font-light text-xs italic mb-4">
                        Owner/Stylist/Educator
                    </p>
                </div>
            </div>
        </div>
        <div
            class="flex flex-col md:flex-row justify-center items-center p-6 md:mb-8"
        >
            <Button
                href="https://squareup.com/appointments/book/f5ksza0xzqnzy3/LGZK3E9BBVKB5/start"
                external
            >
                Book
            </Button>
            <Button href="/new-clients">New Clients</Button>
            <Button
                href="https://loveamika.com/?rfsn=6430899.ee2b1b&utm_source=refersion&utm_medium=affiliate&utm_campaign=6430899.ee2b1b&offerid=43923&cn=gracedstudio"
                external
            >
                Shop
            </Button>
        </div>
    </div>
</Layout>
