---
import { sanityClient } from "../utils/sanityClient";
import FullScreenHero from "../components/FullScreenHero";
import Testimonials from "../components/Testimonials";
import Button from "../components/Button";
import homePageHeaderImage from "/public/homepage-hero-header.jpeg";
import Layout from "../layouts/Layout.astro";

const testimonialQuery = "*[_type == 'testimonials' && forPage == 'Home']";
const testimonials = await sanityClient.fetch(testimonialQuery);
---

<Layout
	title="Home - Graced Studio"
	description="Graced Studio by Jesse Rhodes is Concord's premiere salon for coloring and extension services."
>
	<FullScreenHero image={homePageHeaderImage} altText="Homepage Header" />
	<div class="flex flex-col place-items-center mb-16 p-8">
		<h1 class="text-2xl mb-4 text-center">Welcome to Graced Studio!</h1>
		<p class="font-light text-lg text-center max-w-3xl">
			Located in Concord, NC, we provide the highest quality color and
			extension services in the surrounding Charlotte area. We can’t wait
			to meet you!
		</p>
	</div>
	<Testimonials client:only="react" testimonials={testimonials} />
	<div
		class="flex flex-col md:flex-row md:flex-wrap lg:flex-nowrap justify-center items-center p-6 md:mb-8"
	>
		<Button href="/new-clients">New Guests</Button>
		<Button
			href="https://squareup.com/appointments/book/f5ksza0xzqnzy3/LGZK3E9BBVKB5/start"
			external
		>
			Book Now
		</Button>
		<Button href="/education">Education</Button>
		<Button
			href="https://loveamika.com/?rfsn=6430899.ee2b1b&utm_source=refersion&utm_medium=affiliate&utm_campaign=6430899.ee2b1b&offerid=43923&cn=gracedstudio"
			external
		>
			Shop
		</Button>
	</div>
</Layout>
